# Python/venv
.venv/
venv/
__pycache__/
*.pyc
env/

# dbt artifacts
dbt_project/target/
dbt_project/logs/
logs
# Local dbt profiles (only if we ever put them in the repo)
.dbt/

# Credentials / misc
*.json
*.boto
.env
!execkpi-ui/package.json

# Airflow local state (do NOT commit)
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/
airflow/*.pid
airflow/*.log
airflow/*webserver*.log
airflow/*scheduler*.log
airflow/*webserver*.out
airflow/*scheduler*.out
airflow/*webserver*.err
airflow/*scheduler*.err
airflow/standalone_admin_password.txt
airflow/webserver_config.py

# Terraform
infra/gcp/*.tfstate
infra/gcp/*.tfstate.backup
infra/gcp/.terraform/

infra/aws/.terraform/
infra/aws/*.tfstate
infra/aws/*.tfstate.backup

# OS/Editor
.DS_Store
.idea/
.vscode/
# ML Artifacts
artifacts/