# --- web API ---
fastapi==0.115.2
uvicorn==0.32.1

# --- data / BigQuery ---
google-cloud-bigquery==3.38.0
pandas==2.2.3
numpy==1.26.4

# --- ML stack (works together) ---
scikit-learn==1.4.2
xgboost==2.0.3
shap==0.44.1

# --- nice to have for dates etc. (comes with pandas deps anyway) ---
python-dateutil==2.9.0.post0
pytz==2025.2

# --- dbt for BigQuery ---
dbt-core==1.11.0b3
dbt-bigquery==1.10.2

# --- AWS S3 ---
boto3
